
body {
	background-color: #000000;
}

#wrapper { 
	width: 100%;
	font-family: 'Exo' , sans-serif;
}

main {
	margin-bottom: 10px;
	background-color: #000000;
}
.slideShow{
	position: relative;
	width: 1100px;
	height: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.slideShow img{
	width: 1100px;
	height: 700px;
}
.slideShow figure{
	position: absolute;
	width: 1100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}
.slideShow figure:nth-child(1) {
	animation: xfade 30s 24s infinite;
}
.slideShow figure:nth-child(2) {
	animation: xfade 30s 18s infinite;
}
.slideShow figure:nth-child(3) {
	animation: xfade 30s 12s infinite;
}
.slideShow figure:nth-child(4) {
	animation: xfade 30s 6s infinite;
}
.slideShow figure:nth-child(5) {
	animation: xfade 30s 0s infinite;
}
@-webkit-keyframes xfade {
	0%{
		opacity: 1;
	}
	15%{
		opacity: 1;
	}
	20%{
		opacity: 0;
	}
	98%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-moz-keyframes xfade {
	0%{
		opacity: 1;
	}
	15%{
		opacity: 1;
	}
	20%{
		opacity: 0;
	}
	98%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-o-keyframes xfade {
	0%{
		opacity: 1;
	}
	15%{
		opacity: 1;
	}
	20%{
		opacity: 0;
	}
	98%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes xfade {
	0%{
		opacity: 1;
	}
	15%{
		opacity: 1;
	}
	20%{
		opacity: 0;
	}
	98%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

figure {
	width: 33%;
	margin: 0;
	float: left;
	text-align: center;
	padding: 0;
}
.attractions {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 128px;
	color: #CFBFBA;
}
.attractions img{
	width: 150px;
	height: 100px;
}

.bar {
	width: 100%;
	height: 25px;
	background-color: #282c83;
}
nav { font-weight: bold; 
	  height: 40px;
	  line-height: 2.5em;
	  text-align: center;
	  background-color: #1C1F24;
}
nav ul { 
	list-style-type: none;
	font-size: 1.2em;
}

nav li {
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
	
}
a {text-decoration: none;}
nav a:link { color: #000000; }
nav a:visited { color: #000000; }
nav a:hover { color: #FF561A; }
a:link { color: #CFBFBA; }
a:visited { color:#CFBFBA; }
a:hover {color: #FF561A; }   
#mobile { display: none; }
#desktop { display: inline; }
h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #1c1f24;
}

h1 img {
	padding-left: 20px;
	padding-right: 20px;
	height: 18px;
	width: 18px;
}

h2 {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 300px;
}
h2 img{
	width: 1200px;
	height: 300px;
}

h3 {
	text-align: left;
	padding-left: 40%;
}

footer {
	background-color: #1C1F24;
}
footer ul {
	font-size: 70%;
	text-align: left;
	padding-left: 40%;
	list-style-type: none;
}

@media only screen and (max-width: 64em){
	
	
	
}

@media only screen and (max-width: 37.5em){
	
	
	
}